.home {
  text-align: center;
  overflow: hidden;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .home h1 {
  background-color: gainsboro;

  font-size: calc(10px + 2vmin);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 11px;
}

.test {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(250px + 1px);
  background-color: #61dafb;
  /* max-height: 750px; */
  margin: 0;
  padding-top: 1px;
  /* background: #abc; */
  /* overflow-y: auto; */
  overflow-x: auto;
  transform: rotate(-90deg) translateY(-250px);
  transform-origin: right top;
  padding: 250px 0 0 0;
}

.test div {
  display: block;
  padding: 5px;
  /* background: #cab; */
  transform: rotate(90deg);
  transform-origin: right top;
  max-width: 300;
  max-height: 100;
  background-color: "#d3d3d3";
  margin-inline: "auto";
  margin-top: 100;
  overflow-y: "auto";
  white-space: "nowrap";
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.Auth-form-login {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  margin-top: 100px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
